<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{title}} | Order @ Table</title>
        <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
        <link rel="stylesheet" href="../stylesheets/dashboard.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

        <!--JS Source-->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        <script src="https://cdn.jsdelivr.net/foundation/6.1.1/js/foundation.offcanvas.js"></script>
        <script src="../javascripts/angular.js"></script>
        <script src="../javascripts/angular-route.js"></script>

        <!--Angular scripts-->
        <script src="../javascripts/dashboard/dashboardApp.js"></script>

        <!--Services-->
        <script src="../javascripts/dashboard/services/orderService.js"></script>
        <script src="../javascripts/dashboard/services/itemService.js"></script>
        <script src="../javascripts/dashboard/services/userService.js"></script>
        <script src="../javascripts/dashboard/services/categoryService.js"></script>

        <!--Controller-->
        <script src="../javascripts/dashboard/controllers/itemController.js"></script>
        <script src="../javascripts/dashboard/controllers/userController.js"></script>
        <script src="../javascripts/dashboard/controllers/orderController.js"></script>
        <script src="../javascripts/dashboard/controllers/categoryController.js"></script>

        <!--Directives-->

    </head>
    <body>
        {{{body}}}
    </body>
</html>
